Source: azure-iot-sdk-c-twilio
Priority: optional
Maintainer: Anton Gerasimov <agerasimov@twilio.com>
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/twilio/azure-iot-sdk-c.git

Package: azure-iot-sdk-c-twilio-dev
Section: libdevel
Architecture: any
Depends: azure-iot-sdk-c-twilio-lib (= ${binary:Version}), ${misc:Depends}, libssl-dev, libcurl4-openssl-dev, curl
Description: Microsoft Azure IoT device SDK for C Library, Twilio edition.
 The Microsoft Azure IoT device libraries for C contain code that
 facilitates building devices and applications that connect to and
 are managed by Azure IoT Hub services. Includes Twilio's patches for
 Trust Onboard.

Package: azure-iot-sdk-c-twilio-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl-dev, libcurl4-openssl-dev, curl
Description: Microsoft Azure IoT device SDK for C Library
 The Microsoft Azure IoT device libraries for C contain code that
 facilitates building devices and applications that connect to and
 are managed by Azure IoT Hub services. Includes Twilio's patches
 for Trust Onboard.

